 * {
    font-family: "Pretendard";
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .sign-up-container {
    width: 100%;
    max-width: 640px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    margin: 30px auto 30px;
    
   
  }
  .logimg {
    width: 100%;
    max-width: 396px;
    height: 132px;
    object-fit: contain;
  }

  .hero-image {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 60px;
  }
  
  .sign-up-form {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 640px;
    height: 857px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
  }
  .sign-up-form input[type="text"],
  .sign-up-form input[type="password"] {
    background-color: #f3f4f6;
    width: 640px;
    height: 56px;
    border: 1px solid #f3f4f6;
    border-radius: 12px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .input-group {
    width: 640px;
    height: 98px;
    text-align: left;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    margin-bottom: 24px;
    flex-shrink: 0;
  }
  .input-group label {
    display: block;
    margin-bottom: 20px;
  }
  
  .login-btn {
    font-family: "Pretendard";
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    width: 640px;
    height: 56px;
    background-color: #3692ff;
    color: #f3f4f6;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-shrink: 0;
  }
  .login-easy {
    background-color: #e6f2ff;
    width: 640px;
    height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 16px;
    flex-shrink: 0;
  }
  .login-easy-text {
    color: black;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 10px;
    padding-left: 23px;
  }
  .login-easy-icon {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 23px;
    gap: 15px;
    margin-left: 430px;
  }
  
  .register-link {
    padding-top: 13px;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 30px;
  }
  .register-link a {
    color: #3692ff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }